.btn {
    cursor: pointer;
    background-color: dodgerblue;
    color: yellow;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .5s;
}
.btn:hover {
    background-color: blue;
}

.pdf {
    --quality: 3;
    width: calc(210px * var(--quality));
    min-height: calc(297px * var(--quality));
    height: fit-content;
    display: flex;
}