.btn {
    cursor: pointer;
    background-color: dodgerblue;
    color: yellow;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .5s;
}
.btn:hover {
    background-color: blue;
}

.pdf {
    --quality: 3;
    width: calc(210px * var(--quality));
    min-height: calc(297px * var(--quality));
    height: fit-content;
    display: flex;
}

.pdf [data-section] {
    outline: 3px solid transparent; /* 外扩边框 */
    outline-offset: 5px; /* 控制外扩距离 */
    transition: outline 0.5s ease;
}

.pdf [data-section]:hover {
    cursor: pointer;
    z-index: 999;
    outline: 3px solid var(--pink); /* 外扩边框 */
}