@import "tailwindcss";

:root {
  --header-height: 50px;
  --background:  #F9FAFF;
  --foreground:  #333333;
  --foreground-lt:#787878;
  --hilight:      #FFC85F;
  --green:        #B9EB3A;
  --pink:         #E92E4C;
  --blue:         #37BBCC;
  --blue-lt:      #31CFE2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-HKGrotesk);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  width: 100vw;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
